In [181]:
import os
import numpy as np
import pandas as pd

In [182]:
os.chdir('E:\Academics\Research\Data\Experimental data\Compression_test\Results_and_Analysis\Combo_test\Input')
Exp_Data = pd.read_excel('Experimental_Data_Iteration2.xlsx')
Exp_Data.head(5)
len(Exp_Data)

37

In [183]:
os.chdir('E:\Academics\Research\Data\Experimental data\Compression_test\Results_and_Analysis\Combo_test\Output')

Combo_Modulus = pd.read_csv('Combo_Modulus_Iteration2.csv')
del Combo_Modulus['type']
del Combo_Modulus['rank']
Combo_Yield = pd.read_csv('Combo_Yield_Iteration2.csv')
del Combo_Yield['type']
del Combo_Yield['rank']
Combo_Ultimate = pd.read_csv('Combo_Ultimate_Iteration2.csv')
del Combo_Ultimate['type']
del Combo_Ultimate['rank']
Combo_Ductility = pd.read_csv('Combo_Ductility_Iteration2.csv')
del Combo_Ductility['type']
del Combo_Ductility['rank']

Combo_Data = Combo_Modulus.merge(Combo_Yield,on = ['id','Theta','Phi','Horizontal','Vertical'])
Combo_Data = Combo_Data.merge(Combo_Ultimate,on = ['id','Theta','Phi','Horizontal','Vertical'])
Combo_Data = Combo_Data.merge(Combo_Ductility,on = ['id','Theta','Phi','Horizontal','Vertical'])
print(Combo_Data.shape)

Combo_Data.head(5)

(625, 12)

,id,id.1_x,Horizontal,Vertical,Theta,Phi,Youngs_Modulus,id.1_y,Yield_Strength,id.1,Ultimate_Strength,Ductility
0,531,531,32.0,62.5,0,90,-26.038577,531,1183.917538,531,1036.989615,14.485016
1,2,2,242.5,22.5,90,45,203.000000,2,822.000000,2,1039.000000,7.110000
2,5,5,242.5,52.5,45,90,262.000000,5,729.000000,5,1118.000000,10.480000
3,59,59,224.5,92.5,180,45,241.000000,59,801.000000,59,1194.000000,10.350000
4,131,131,194.0,62.5,0,90,282.000000,131,731.000000,131,1191.000000,7.610000

In [184]:
#Filtering the projected values alone from Experimental + Projected values
Proj_Data = Combo_Data[Combo_Data['id'].isin(Exp_Data['id']) == False]
Proj_Data.head(5)
len(Proj_Data)

588

In [185]:
# Computing Mean, Standard_deviation, and Mean +/- 2(standard deviation) for all the properties.
os.chdir('E:\Academics\Research\Data\Experimental data\Compression_test\Results_and_Analysis\Combo_test\Analysis')
properties = ['Youngs_Modulus','Yield_Strength','Ultimate_Strength','Ductility']

df = []

d = {}
e = {}

for i in range(0, len(properties)):
    Mean_Exp = np.mean(Exp_Data[properties[i]])
    stddev_Exp = np.std(Exp_Data[properties[i]], ddof= 1)

    Mean_Proj = np.mean(Proj_Data[properties[i]])
    stddev_Proj = np.std(Proj_Data[properties[i]])

    UL_2sigma_Exp = Mean_Exp + 2*stddev_Exp
    LL_2sigma_Exp = Mean_Exp - 2*stddev_Exp

    UL_2sigma_Proj = Mean_Proj + 2*stddev_Proj
    LL_2sigma_Proj = Mean_Proj - 2*stddev_Proj
    
    name = properties[i]+'_Outliers'
    
    e[name] = Exp_Data[(Exp_Data[properties[i]] > UL_2sigma_Exp) | (Exp_Data[properties[i]] < LL_2sigma_Exp)]
    
    d[name] = Proj_Data[(Proj_Data[properties[i]] > UL_2sigma_Proj) | (Proj_Data[properties[i]] < LL_2sigma_Proj)]
    
    Outliers_Exp_Count = len(e[name])
    Outliers_Proj_Count = len(d[name])
    
    df.append((properties[i],Mean_Exp,Mean_Proj,stddev_Exp,stddev_Proj,
               (UL_2sigma_Exp,LL_2sigma_Exp),(UL_2sigma_Proj,LL_2sigma_Proj),Outliers_Exp_Count,Outliers_Proj_Count ))
              
statistics = pd.DataFrame(df,columns = ('Property','Mean_Exp','Mean_Proj','Std_dev_Exp',
                                  'Std_dev_Proj','Mean+/-2sigma_Exp','Mean+/-2sigma_Proj','Outliers_Exp','Outliers_Proj'))
statistics
              
# statistics.to_csv('Statistics_Iteration1.csv')

,Property,Mean_Exp,Mean_Proj,Std_dev_Exp,Std_dev_Proj,Mean+/-2sigma_Exp,Mean+/-2sigma_Proj,Outliers_Exp,Outliers_Proj
0,Youngs_Modulus,205.567568,216.693932,74.767582,92.912329,"(355.102732403, 56.0324027324)","(402.518589216, 30.8692749758)",0,24
1,Yield_Strength,800.316216,813.616596,92.557327,147.598941,"(985.430870905, 615.201561527)","(1108.81447907, 518.418713662)",2,28
2,Ultimate_Strength,1255.032162,1234.776600,122.147132,169.507543,"(1499.32642695, 1010.73789737)","(1573.79168522, 895.761515153)",2,25
3,Ductility,11.730541,12.223347,3.670606,6.148452,"(19.071753263, 4.38932781806)","(24.5202508949, -0.0735573724688)",3,40

# Finding the occurences of outliers on all four properties

In [186]:
#Seperating Outliers corresponding to each property
Youngs_Modulus_Outliers = d['Youngs_Modulus_Outliers']
Yield_Strength_Outliers = d['Yield_Strength_Outliers']
Ultimate_Strength_Outliers = d['Ultimate_Strength_Outliers']
Ductility_Outliers = d['Ductility_Outliers']

In [187]:
# Merge all outliers to find the unique ids accross all four different properties.
Master_Outliers = Youngs_Modulus_Outliers.merge(Yield_Strength_Outliers, on = ['id','Theta','Phi','Horizontal','Vertical','Youngs_Modulus','Yield_Strength','Ultimate_Strength','Ductility'],how = 'outer')
Master_Outliers = Master_Outliers.merge(Ultimate_Strength_Outliers, on = ['id','Theta','Phi','Horizontal','Vertical','Youngs_Modulus','Yield_Strength','Ultimate_Strength','Ductility'], how = 'outer')
Master_Outliers = Master_Outliers.merge(Ductility_Outliers, on = ['id','Theta','Phi','Horizontal','Vertical','Youngs_Modulus','Yield_Strength','Ultimate_Strength','Ductility'], how = 'outer')

In [199]:
Master_id = np.array(Master_Outliers['id'])
Modulus_id = np.array(Youngs_Modulus_Outliers['id'])
Yield_id = np.array(Yield_Strength_Outliers['id'])
Ultimate_id = np.array(Ultimate_Strength_Outliers['id'])
Ductility_id = np.array(Ductility_Outliers['id'])

sample_id = []
count = []
Modulus = []
Yield = []
Ultimate = []
Ductility = []

for i in range(0, len(Master_id)):
    k = 0
    Modulus.append(0)
    Yield.append(0)
    Ultimate.append(0)
    Ductility.append(0)
    for j in range(0,len(Modulus_id)):
        if int(Master_id[i]) == int(Modulus_id[j]):
            k = k+1
            Modulus[i] = 1
    for j in range(0,len(Yield_id)):
        if int(Master_id[i]) == int(Yield_id[j]):
            k = k+1
            Yield[i] = 1
    for j in range(0,len(Ultimate_id)):
        if int(Master_id[i]) == int(Ultimate_id[j]):
            k = k+1
            Ultimate[i] = 1
    for j in range(0,len(Ductility_id)):
        if int(Master_id[i]) == int(Ductility_id[j]):
            k = k+1
            Ductility[i] = 1
    sample_id.append(int(Master_id[i]))
    count.append(k)

df = {'sample_id':sample_id,'count':count,'Modulus':Modulus,'Yield':Yield,'Ultimate':Ultimate,'Ductility':Ductility}

Outlier_Occurence = pd.DataFrame(df,columns = ['sample_id','count','Modulus','Yield', 'Ultimate','Ductility'])

Outlier_Occurence_1 = Outlier_Occurence[Outlier_Occurence['count'] ==1]
Outlier_Occurence_2 = Outlier_Occurence[Outlier_Occurence['count'] ==2]
Outlier_Occurence_3 = Outlier_Occurence[Outlier_Occurence['count'] ==3]
Outlier_Occurence_4 = Outlier_Occurence[Outlier_Occurence['count'] ==4]

df1 =  {'One_Occerence':[len(Outlier_Occurence_1)],'Two_Occuerence':[len(Outlier_Occurence_2)],
        'Three_Occurence':[len(Outlier_Occurence_3)],'Four_Occurence':[len(Outlier_Occurence_4)]}

Outlier_Frequency = pd.DataFrame(df1,columns = ['One_Occerence','Two_Occuerence','Three_Occurence','Four_Occurence'])
Outlier_Frequency
# Outlier_Frequency.to_csv('Outlier_Frequency.csv')

   One_Occerence  Two_Occuerence  Three_Occurence  Four_Occurence
0             89              14                0               0

# Finding the distribution of outliers accross locations of plate

240 x 240 mm plate is divided into four quandrants of 120 x 120 each. And Number of samples in each quadrants are counted.

In [189]:

orientations = pd.DataFrame({'Theta': [0,45,90,0,90,270,180,0,135],'Phi': [90,90,90,0,45,45,45,45,90]},
                            columns =['Theta','Phi'])

# def Outliers_Distribution4(Outliers_Data):

#     df = []
#     for i in range(0,9):
#         orientation = Outliers_Data[(Outliers_Data.Phi == orientations['Phi'][i]) & 
#                                           (Outliers_Data.Theta == orientations['Theta'][i])]
#         Phi = orientations['Phi'][i]
#         Theta = orientations['Theta'][i]
#         orientation_TL = orientation[(orientation.Vertical > 120) & (orientation.Horizontal > 120)]
#         orientation_TR = orientation[(orientation.Vertical > 120) & (orientation.Horizontal < 120)]
#         orientation_BL = orientation[(orientation.Vertical < 120) & (orientation.Horizontal > 120)]
#         orientation_BR = orientation[(orientation.Vertical < 120) & (orientation.Horizontal < 120)]
#         df.append((Theta,Phi,len(orientation), len(orientation_TL),len(orientation_TR),len(orientation_BL),len(orientation_BR)))

#     Distribution = pd.DataFrame(df,columns = ('Theta','Phi','Total','Top_Left','Top_Right','Bottom_Left','Bottom_Right'))

#     return(Distribution)

Occurence4_id = np.array(Outlier_Occurence_4['sample_id'])
Occurence3_id = np.array(Outlier_Occurence_3['sample_id'])
Occurence2_id = np.array(Outlier_Occurence_2['sample_id'])
Occurence1_id = np.array(Outlier_Occurence_1['sample_id'])

#Compares two different list of numbers and returns the common numbers

def id_compare(orient,Occurence_id):
    pref_id = []
    Dataframe_id = np.array(orient['id'])
    for i in range(0,len(Dataframe_id)):
        for j in range(0,len(Occurence_id)):
            if Dataframe_id[i] == Occurence_id[j]:
                pref_id.append(Dataframe_id[i])
    return(pref_id)

# Returns the sample ids in the order of preference. 
# If the sample to be tested is in the 3 times occurence it returns that samples id
# If the sample to be tested is not in 3 times occurence it searches in 2 times occurence
# if it is there it ruturns those ids
# Least preference is for one time occurence. 
# If the sample id is not available in 3 time or 2 time occurences it returns the ids in 1 time occurence

def preferred_id(orient):
    pref_id = id_compare(orient,Occurence4_id)
    if len(pref_id) > 0:
        return(pref_id)
    else:
        pref_id  = id_compare(orient,Occurence3_id)
        if len(pref_id) >0:
            return(pref_id)
        else:
            pref_id  = id_compare(orient,Occurence2_id)
            if len(pref_id) >0:
                return(pref_id)
            else:
                pref_id = id_compare(orient,Occurence1_id)
                return(pref_id)
    return(pref_id)

# Returns the sample ids in the order of preference. 
# If the sample to be tested is in the 3 times occurence it returns that samples id
# If the sample to be tested is not in 3 times occurence it searches in 2 times occurence
# if it is there it ruturns those ids
# Least preference is for one time occurence. Finaly it returns the sample id in one time occurence.

def Priority_Distribution(Outliers_Data):

    df = []
    df1 = []
    for i in range(0,9):
        orientation = Outliers_Data[(Outliers_Data.Phi == orientations['Phi'][i]) & 
                                          (Outliers_Data.Theta == orientations['Theta'][i])]
        Phi = orientations['Phi'][i]
        Theta = orientations['Theta'][i]
        orientation_TL = orientation[(orientation.Vertical > 120) & (orientation.Horizontal > 160)]
        TL = preferred_id(orientation_TL)
        TL1 = len(orientation_TL)
        orientation_TC = orientation[(orientation.Vertical > 120) & (orientation.Horizontal > 80) & (orientation.Horizontal < 160)]
        TC = preferred_id(orientation_TC)
        TC1 = len(orientation_TC)
        orientation_TR = orientation[(orientation.Vertical > 120) & (orientation.Horizontal > 0) & (orientation.Horizontal < 80)]
        TR = preferred_id(orientation_TR)
        TR1 = len(orientation_TR)
        orientation_BL = orientation[(orientation.Vertical < 120) & (orientation.Horizontal > 160)]
        BL = preferred_id(orientation_BL)
        BL1 = len(orientation_BL)
        orientation_BC = orientation[(orientation.Vertical < 120) & (orientation.Horizontal > 80) & (orientation.Horizontal < 160)]
        BC = preferred_id(orientation_BC)
        BC1 = len(orientation_BC)
        orientation_BR = orientation[(orientation.Vertical < 120) & (orientation.Horizontal > 0) & (orientation.Horizontal < 80)]
        BR = preferred_id(orientation_BR)
        BR1 = len(orientation_BR)
        df.append((Theta,Phi,len(orientation), TL,TC,TR,BL,BC,BR))
        df1.append((Theta,Phi,len(orientation),TL1,TC1,TR1,BL1,BC1,BR1))

    Priority = pd.DataFrame(df,columns = ('Theta','Phi','Total','Top_Left','Top_Center','Top_Right','Bottom_Left','Bottom_Center','Bottom_Right'))
    Distribution = pd.DataFrame(df1,columns = ('Theta','Phi','Total','Top_Left','Top_center','Top_Right','Bottom_Left','Bottom_center','Bottom_Right'))
    return(Priority,Distribution)

In [190]:
#Converts sample_id(1 to 624) to the alphanumeric(A1 to Y25) name on plate
Locations = ['Top_Left','Top_Center','Top_Right','Bottom_Left','Bottom_Center','Bottom_Right']

Num_to_alphabet = pd.read_csv('E:\Academics\Research\Data\Experimental data\Compression_test\Results_and_Analysis\Combo_test\Input\Num_to_alphabet.csv')


def numtoalpha(Outlier_Priority):
    for k in range(0, len(Outlier_Priority)):
        for i in (Locations):
            if len(Outlier_Priority[i][k])> 0:
                for j in range(0,len(Outlier_Priority[i][k])):
                    Outlier_Priority[i][k][j] = Num_to_alphabet['Sample'][int(Outlier_Priority[i][k][j])]
            else:
                Outlier_Priority[i][k] =[]
    return(Outlier_Priority)

In [191]:
Modulus_Outliers_Priority,Modulus_Outliers_Distribution = Priority_Distribution(Youngs_Modulus_Outliers)
Modulus_Outliers_Priority

Modulus_Outliers_Priority_Alphabet = numtoalpha(Modulus_Outliers_Priority)
Modulus_Outliers_Priority_Alphabet

C:\Users\senth\Anaconda2\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Theta,Phi,Total,Top_Left,Top_Center,Top_Right,Bottom_Left,Bottom_Center,Bottom_Right
0,0,90,5,[],[],[],[],[],"[V7, U7, W7]"
1,45,90,4,[],[],[],[],[],"[V6, W6, X6, Y6]"
2,90,90,4,[],[],[],[],"[N5, O5, P5, Q5]",[]
3,0,0,0,[],[],[],[],[],[]
4,90,45,1,[A21],[],[],[],[],[]
5,270,45,7,[],"[L20, M20, N20, O20, P20, Q20]",[],[],[],[U11]
6,180,45,1,[],[],[],[],[],[Y1]
7,0,45,2,[],[],"[V18, W18]",[],[],[]
8,135,90,0,[],[],[],[],[],[]

In [192]:
Modulus_Outliers_Distribution

,Theta,Phi,Total,Top_Left,Top_center,Top_Right,Bottom_Left,Bottom_center,Bottom_Right
0,0,90,5,0,0,0,0,0,5
1,45,90,4,0,0,0,0,0,4
2,90,90,4,0,0,0,0,4,0
3,0,0,0,0,0,0,0,0,0
4,90,45,1,1,0,0,0,0,0
5,270,45,7,0,6,0,0,0,1
6,180,45,1,0,0,0,0,0,1
7,0,45,2,0,0,2,0,0,0
8,135,90,0,0,0,0,0,0,0

In [193]:
Yield_Outliers_Priority, Yield_Outliers_Distribution = Priority_Distribution(Yield_Strength_Outliers)
Yield_Outliers_Priority
Yield_Outliers_Priority_Alphabet = numtoalpha(Yield_Outliers_Priority)
Yield_Outliers_Priority_Alphabet

C:\Users\senth\Anaconda2\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Theta,Phi,Total,Top_Left,Top_Center,Top_Right,Bottom_Left,Bottom_Center,Bottom_Right
0,0,90,3,[],[],[],[],[],"[V7, U7, W7]"
1,45,90,4,"[H24, I24]","[J24, K24]",[],[],[],[]
2,90,90,0,[],[],[],[],[],[]
3,0,0,1,[],[O22],[],[],[],[]
4,90,45,1,[],[],[],[A12],[],[]
5,270,45,3,[],[],[],[],"[L2, M2]",[]
6,180,45,8,[],[],[],"[C1, D1, E1, F1, G1, H1, I1]",[J1],[]
7,0,45,6,[],"[L18, M18, N18, O18, P18, Q18]",[],[],[],[]
8,135,90,2,[],[],[],"[D8, E8]",[],[]

In [194]:
Yield_Outliers_Distribution

,Theta,Phi,Total,Top_Left,Top_center,Top_Right,Bottom_Left,Bottom_center,Bottom_Right
0,0,90,3,0,0,0,0,0,3
1,45,90,4,2,2,0,0,0,0
2,90,90,0,0,0,0,0,0,0
3,0,0,1,0,1,0,0,0,0
4,90,45,1,0,0,0,1,0,0
5,270,45,3,0,0,0,0,3,0
6,180,45,8,0,0,0,7,1,0
7,0,45,6,0,6,0,0,0,0
8,135,90,2,0,0,0,2,0,0

In [195]:
Ultimate_Outliers_Priority, Ultimate_Outliers_Distribution = Priority_Distribution(Ultimate_Strength_Outliers)
Ultimate_Outliers_Priority
Ultimate_Outliers_Priority_alphabet = numtoalpha(Ultimate_Outliers_Priority)
Ultimate_Outliers_Priority_alphabet

C:\Users\senth\Anaconda2\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Theta,Phi,Total,Top_Left,Top_Center,Top_Right,Bottom_Left,Bottom_Center,Bottom_Right
0,0,90,0,[],[],[],[],[],[]
1,45,90,0,[],[],[],[],[],[]
2,90,90,0,[],[],[],[],[],[]
3,0,0,0,[],[],[],[],[],[]
4,90,45,8,[],[],[],"[C3, D3, E3, F3, G3, H3]",[],"[U3, V3]"
5,270,45,8,[],[],"[V20, W20, X20, Y20]",[C2],[],[]
6,180,45,4,[],[],"[V19, W19, X19, Y19]",[],[],[]
7,0,45,0,[],[],[],[],[],[]
8,135,90,5,"[A17, B17, C17, D17, E17]",[],[],[],[],[]

In [196]:
Ultimate_Outliers_Distribution

,Theta,Phi,Total,Top_Left,Top_center,Top_Right,Bottom_Left,Bottom_center,Bottom_Right
0,0,90,0,0,0,0,0,0,0
1,45,90,0,0,0,0,0,0,0
2,90,90,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,90,45,8,0,0,0,6,0,2
5,270,45,8,0,0,4,4,0,0
6,180,45,4,0,0,4,0,0,0
7,0,45,0,0,0,0,0,0,0
8,135,90,5,5,0,0,0,0,0

In [197]:
Ductility_Outliers_Priority, Ductility_Outliers_Distribution = Priority_Distribution(Ductility_Outliers)
Ductility_Outliers_Priority
Ductility_Outliers_Priority_alphabet = numtoalpha(Ductility_Outliers_Priority)
Ductility_Outliers_Priority_alphabet

C:\Users\senth\Anaconda2\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Theta,Phi,Total,Top_Left,Top_Center,Top_Right,Bottom_Left,Bottom_Center,Bottom_Right
0,0,90,7,[],"[N16, O16, P16, Q16]","[R16, S16, T16]",[],[],[]
1,45,90,5,[],"[P15, Q15]","[R15, S15, T15]",[],[],[]
2,90,90,3,[],[],"[S14, T14, U14]",[],[],[]
3,0,0,0,[],[],[],[],[],[]
4,90,45,0,[],[],[],[],[],[]
5,270,45,20,[],[],"[V20, W20, X20, Y20]",[C2],"[L2, M2]",[]
6,180,45,5,[],[],"[V19, W19, X19, Y19]",[],[],[]
7,0,45,0,[],[],[],[],[],[]
8,135,90,0,[],[],[],[],[],[]

In [198]:
Ductility_Outliers_Distribution

,Theta,Phi,Total,Top_Left,Top_center,Top_Right,Bottom_Left,Bottom_center,Bottom_Right
0,0,90,7,0,4,3,0,0,0
1,45,90,5,0,2,3,0,0,0
2,90,90,3,0,0,3,0,0,0
3,0,0,0,0,0,0,0,0,0
4,90,45,0,0,0,0,0,0,0
5,270,45,20,0,0,4,8,8,0
6,180,45,5,0,0,5,0,0,0
7,0,45,0,0,0,0,0,0,0
8,135,90,0,0,0,0,0,0,0